<footer class="gblog-footer">
  <nav class="container flex">
    <div>
      <section class="flex flex-wrap align-center">
        {{ with (.Site.GetPage "home").OutputFormats.Get "atom" }}
          <span class="gblog-footer__item gblog-footer__item--row">
            <svg class="gblog-icon gblog_rss_feed"><use xlink:href="#gblog_rss_feed"></use></svg>
	    <a href="{{ .Permalink | relURL }}" class="gblog-footer__link"><small>Atom&nbsp;Feed</small></a>
          </span>
        {{ end }}
        {{ if .Site.Data.menu.extra.footer }}
          {{ partial "menu-extra" (dict "current" . "source" .Site.Data.menu.extra.footer "target" "footer") }}
        {{ end }}
        {{ with .Site.Params.geekblogLegalNotice }}
          <span class="gblog-footer__item gblog-footer__item--row">
            <svg class="gblog-icon gblog_bookmark"><use xlink:href="#gblog_bookmark"></use></svg>
	      <a href="{{ . | relURL }}" class="gblog-footer__link"><small>DPS8M&nbsp;Simulator&nbsp;Homepage</small></a>
          </span>
        {{ end }}
        {{ with .Site.Params.geekblogPrivacyPolicy }}
          <span class="gblog-footer__item gblog-footer__item--row">
            <svg class="gblog-icon gblog_gitlab"><use xlink:href="#gblog_gitlab"></use></svg>
	      <a href="{{ . | relURL }}" class="gblog-footer__link"><small>GitLab&nbsp;Repository</small></a>
          </span>
        {{ end }}
      </section>
      <section class="flex flex-wrap align-center">
        <span class="gblog-footer__item">
	    <small>Copyright&nbsp;©&nbsp;2016‑2024 <b>The&nbsp;DPS8M&nbsp;Development&nbsp;Team</b></small>
	</span>
      </section>
      {{ with .Site.Params.geekblogHostedOn }}
        <section class="flex flex-wrap align-center">
          <span class="gblog-footer__item">
            Hosted on <a href="{{ .link }}" class="gblog-footer__link">{{ .name }}</a>
          </span>
        </section>
      {{ end }}
      {{ with .Site.Params.geekblogContentLicense }}
        <section class="flex flex-wrap align-center">
          <span class="gblog-footer__item">
	      <small>Content licensed under</small>
	      <a href="{{ .link }}" class="gblog-footer__link no-wrap"><small>{{ .name }}</small></a>
          </span>
        </section>
      {{ end }}
    </div>
    {{ if (default true .Site.Params.geekblogBackToTop) }}
      <div class="flex flex-25 justify-end">
        <span class="gblog-footer__item text-right">
          <a class="gblog-footer__link fake-link" href="#" aria-label="Back to top">
            <svg class="gblog-icon gblog_keyboard_arrow_up">
              <use xlink:href="#gblog_keyboard_arrow_up"></use>
            </svg>
	    <span class="hidden-mobile"><small>Back to top</small></span>
          </a>
        </span>
      </div>
    {{ end }}
  </nav>
</footer>
